{% extends 'layout.html' %}

{% block title %}
  Edit post
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6">
    <h1>Edit post</h1>
    <form action="{{url_for('forum.edit_post', slug=post.slug)}}" method="POST">
      {% for field in form %}
        <div class="form-group">
          {{ field.label(class='control-label') }}
          {{ field(class='form-control') }}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-info">Edit</button>

    </form>
  </div>


</div>

{% endblock %}